html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  background-color: #2b3851;
}

.robot {
  width: 320px;
}

.robot-body {
  position: absolute;
  left: 50%;
  top: 9%;
  transform: translateX(-50%);
  display: block;
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 9%;
  left: 50%;
  transform: translateX(-50%);
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 3%;
}

.robot-head-right {
  left: 50%;
}

.robot-head-right:hover {
  right: 25%;
}

.robot-head-left {
  right: 50%;
}
.robot-head-left:hover {
  left: 25%;
}
