html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  position: relative;
  background-color: #2b3851;
}

.robot {
  height: 240px;
  width: 320px;
}

.robot-body {
  position: absolute;
  left: 50%;
  top: 23%;
  transform: translateX(-50%);
  display: block;
  width: 320px;
}

.robot-brain {
  width: 46px;
  position: absolute;
  top: 23%;
  left: 50%;
  transform: translateX(-50%);
}

.robot:hover .robot-brain {
  top: 15%;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
  position: absolute;
  top: 7%;
}

.robot-head-right {
  left: 50%;
}

.robot:hover .robot-head-right {
  left: 54%;
  top: 5%;
}

.robot-head-left {
  right: 50%;
}

.robot:hover .robot-head-left {
  left: 33%;
  top: 5%;
}
